<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="DAT" value="C:\Dev\Demos\AppDomainProtection\SynNetWcf\data" />
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig" maxReceivedMessageSize="10000000" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="partsServiceBehavior" name="WcfServiceLibrary.PartsService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfig"
          name="wsHttpEndpoint" contract="WcfServiceLibrary.IPartsService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="partsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>